<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="js/vue.js"></script>
</head>
<body>
  
<div id="app">

  <p v-for=" (user, index) in users">
    {{ user }} /  {{ index }}
  </p>
  
  <ul>
    <li v-for=" (car, index) in cars">
      {{ index }} / {{ car.brand }} /{{ car.color}}
    </li>
  </ul>

<ul>
  <li v-for="(value,key,index) in user">
    {{ index }} - {{ key }} - {{ value }}
  </li>
</ul>


  </div>



  <script>
    new Vue({
      el:"#app",
      data:{

        person:{
          name:'Guy',
          lastName: 'Jones',
          age: 25
        },
        users: ["francies", "jane", "Kelton"],
        cars: [
          {
            brand: 'Honda',
            color: 'Red'
          },
          {
            brand: 'Toyota',
            color: 'green'
          },
          {
            brand: 'Chevy',
            color: 'yellow'
          }
        ]
        
      }
    })
    // new Vue({
    //   el:"#app2",
    //   data: {
    //     heading: "This should be a heading 2",
    //     greeting: "This should be a greating too, But take note of the namings - for example (heading and greeting) are the same Data Names"
    //   }
    // })

  </script>
</body>
</html>